.header {
  background-color: #4c8caf;
  padding: 20px;
  color: white;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

.user {
  position: relative;
  cursor: pointer;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.user-dropdown {
  display: none;
  width: 100px;
  padding: 10px 0;
  background-color: #e6e3e3;
  position: absolute;
  top: 50px;
  right: 0px;
  color: #2b2323;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset;
}

.user-dropdown a {
  text-decoration: none;
}

.user:hover .user-dropdown {
  display: block; /* Hiện dropdown khi hover vào user */
}
