#homepage {
  width: 100%;
}

#homepage p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.homepage-img {
  max-width: 100%; /* Không vượt quá chiều rộng */
  max-height: 100%; /* Không vượt quá chiều cao */
  object-fit: contain; /* Giữ tỉ lệ khung hình và điều chỉnh sao cho ảnh vừa vặn */
}
