.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-right {
  margin-left: 50px;
  font-size: larger;
}

.product-detail-name-vn {
  font-weight: bold;
  font-size: x-large;
}

.product-detail-name-en {
  font-weight: 800;
  color: #184f6d;
}

.product-detail-parameter {
  font-weight: bold;
}
